.flash-box
.wrapper
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name test
        %ul.side-header__box__menu
          %li.side-header__box__menu__edit-user
            = link_to "/groups/new" do
              %i.fa.fa-edit
          %li.side-header__box__menu__new-group
            = link_to "/users/82/edit" do
              %i.fa.fa-cog
    .groups
      = link_to "/groups/106/messages" do
        .group
          %p.group__group-name test1
          %p.group__latest-message aaa
      = link_to "/groups/107/messages" do
        .group
          %p.group__group-name test2
          %p.group__latest-message ddd
      = link_to "/groups/108/messages" do
        .group
          %p.group__group-name test3
          %p.group__latest-message fff
  .chat-main
    .header
      .header__left-box
        %h2.header__left-box__current-group{"data-group_id" => "106"}
          test1
        %ul.header__left-box__member-list
          Member：
          %li.header__left-box__member-list__member aaa
          %li.header__left-box__member-list__member test
      = link_to "/groups/106/edit" do
        .header__edit-btn Edit
    .messages
      .message{"data-message_id" => "222"}
        .message__talk-info
          %p.message__talk-info__talker test
          %p.message__talk-info__date 2019/03/24(Sun) 16:51:16
        %p.message__text ccc
      .message{"data-message_id" => "221"}
        .message__talk-info
          %p.message__talk-info__talker test
          %p.message__talk-info__date 2019/03/24(Sun) 16:51:11
        %p.message__text bbb
      .message{"data-message_id" => "220"}
        .message__talk-info
          %p.message__talk-info__talker test
          %p.message__talk-info__date 2019/03/24(Sun) 16:37:46
        %p.message__text aaa
    .form
      %form#new_message.new_message{"accept-charset" => "UTF-8", :action => "/groups/106/messages", :enctype => "multipart/form-data", :method => "post"}
        .input-box
          %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
          %label.input-box__image{:for => "message_image"}
            %i.fa.fa-image
            %input#message_image.input-box__image__upload{:name => "message[image]", :type => "file"}/
        %input.submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
